* {
  box-sizing: border-box;
}
.travel-box {
  font-family: "Roboto";
  position: relative;
  max-width: 358px;
  display: inline-block;
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.travel-img {
  height: 200px;
  clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 99%);
}
.heading {
  /* position: absolute; */
  /* right: 13px; */
  /* top: 47px; */
  /* transform: rotate(-5deg); */
  /* text-align: right; */
}
.heading_destination {
  position: absolute;
  text-align: right;
  right: 13px;
  transform: rotate(-5deg);
  bottom: 330px;
  font-weight: 800;
  font-size: 63px;
  margin: 0;
  color: white;
  max-width: 100%;
  hyphens: Auto;
  -ms-hyphens: Auto;
  -webkit-hyphens: None;
  text-shadow: rgba(0, 0, 0, 0.67) 0 0 3px;
}
.heading_description {
  position: relative;
  right: 13px;
  text-align: right;
  transform: rotate(-5deg);
  font-weight: 500;
  font-size: 23px;
  margin: -10px 0 -5px 18px;
  height: 70px;
}

.description {
  text-align: justify;
  font-weight: 300;
  font-size: 17px;
  margin: 15px 30px 0 30px;
}

.description_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 100px;
}
.description_travel-dates {
  font-weight: 300;
  font-size: 15px;
}

.pricing_prefix {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 18px;
  font-size: 15px;
}
.pricing_price {
  font-weight: 800;
  font-size: 42px;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 18px;
}

.rs-reisen-outline {
  border: 6px solid rgba(85, 214, 136, 1);
}

svg {
  display: none;
}
.rs-reisen-logo_visible {
  display: block;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
